*{
    border: 0px;
    margin: 0px;
}
html{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
* a{
    text-decoration: none;
    color: #333;
}

img#mainimage{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0px 0px 100px;
}
main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0px 150px 0px;
    padding: 50px;
    height: 460px;
}
address h1{
    font-size: 40px;
    font-weight: 350;
}
address span{
    font-size: 15px;
    line-height: 1.8em;
}

form{
    margin-left: 30px;
}
form input{
    font: inherit;
    margin: 0px 0px 10px;
    height: 50px !important;
    width: 400px !important;
    outline: 0;
}
form textarea{
    font: inherit;
    margin: 0px 0px 10px;
    height: 100px !important;
    width: 400px !important;
    outline: 0;
}
form input#checkbox{
    height: unset !important;
    width: unset !important;
    border: unset !important;
    margin: 0px 0px 25px;
}
form label{
    font-size: 12px;
}
form button{
    height: 60px;
    width: 180px;
    font: inherit;
    border: none;
    margin-left: 220px;
    box-shadow: 4px 8px 10px gray;
    cursor: pointer;
}
form button:hover{
    margin-top: 4px;
    box-shadow: 2px 4px 10px gray;
    transition: 0.25s;
}